header {
  .wrapper {
    @include flex(row, space-between, inherit);
    width: 90%;
    max-width: 75rem;
    margin: 1.875rem auto;
    position: absolute;
    @include centerWithAbsolute(50%, 0);
    z-index: 1;
  }
  .hamburger {
    height: 1.25rem;
    width: 1.625rem;
    @include BgImg("../img/menu-icon.png", contain);
    z-index: 2;
    cursor: pointer;

    &::before {
      content: "Menu";
      display: inline-block;
      color: color(primary);
      font-style: normal;
      position: absolute;
      right: 2.187rem;
      line-height: 1.3rem;
      font-size: 0.875rem;
    }
  }
}
